﻿@model FelevesFeladat.MVC.Models.BandListViewModel

@{
    ViewData["Title"] = "BandsIndex";
}

<h2>Bands Index</h2>

<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("BandsEdit", Model.EditedBand)

@await Html.PartialAsync("BandsList", Model.Bands)