﻿@model FelevesFeladat.MVC.Models.Band

<h2>Bands edit</h2>

@using (Html.BeginForm("Edit", "Bands"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken() //Nem küldhetnek adatot kívülről, másik ürlapról a saját controllerbe

    @Html.HiddenFor(m => m.ID) //rejtett adat
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Origin)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Origin)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Members)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Members)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Genres)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Genres)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Formed)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Formed)</div>

    <input type="submit" value="SEND"/>
}
