﻿@model FelevesFeladat.MVC.Models.Band

@{
    ViewData["Title"] = "BandsDetails";
}

<h2> Datasheet of one band </h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.ID)</td>
        <td>@Html.DisplayFor(m => m.ID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Origin)</td>
        <td>@Html.DisplayFor(m => m.Origin)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Members)</td>
        <td>@Html.DisplayFor(m => m.Members)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Genres)</td>
        <td>@Html.DisplayFor(m => m.Genres)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Formed)</td>
        <td>@Html.DisplayFor(m => m.Formed)</td>
    </tr>
</table>