﻿@model IEnumerable<FelevesFeladat.MVC.Models.Band>

<h2>BandsList</h2>
@if (Model.Count() == 0)
{
    <p>No data in the databse!</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().Origin)</th>
            <th>@Html.DisplayNameFor(m => m.First().Members)</th>
            <th>@Html.DisplayNameFor(m => m.First().Genres)</th>
            <th>@Html.DisplayNameFor(m => m.First().Formed)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Modify</th>
        </tr>

        @foreach (var band in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => band.Name)</td>
                <td>@Html.DisplayFor(m => band.Origin)</td>
                <td>@Html.DisplayFor(m => band.Members)</td>
                <td>@Html.DisplayFor(m => band.Genres)</td>
                <td>@Html.DisplayFor(m => band.Formed)</td>
                <td>@Html.ActionLink("[SHOW]","Details", new { id = band.ID})</td>
                <td>@Html.ActionLink("[DELL]","Remove", new { id = band.ID})</td>
                <td>@Html.ActionLink("[EDIT]","Edit", new { id = band.ID})</td>
            </tr>
        }
    </table>
}